.reveal {
  background: #000;
  background-color: #000;
}
.reveal > .backgrounds {
  opacity: .3
}

.reveal blockquote {
  font-size: 1.3em !important;
}

.reveal blockquote p {
  padding: 25px;
}

.reveal cite {
  font-size: .8em !important;
  font-style: italic !important;
}
